Repository leosuncin/todomvc-ngrx-app: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier -w, sort-package-json

.lintstagedrc.json:

{
  "*.{js,ts,cjs,mjs,html}": ["eslint --fix", "prettier -w"],
  "*.{json,md,css,scss,sass,yaml,yml}": ["prettier -w"],
  "package.json": ["sort-package-json"]
}

chore: install TodoMVC styles
  angular.json
  package.json
  pnpm-lock.yaml
Due: prettier -w, sort-package-json

chore: remove boilerplate code
  .eslintrc.json
  angular.json
  src/app/app.component.css
  src/app/app.component.html
  src/app/app.component.spec.ts
  src/app/app.component.ts
  src/index.html
Due: eslint --fix, prettier -w

refactor: convert to standalone component
  src/app/app.component.spec.ts
  src/app/app.component.ts
  src/app/app.module.ts
  src/main.ts
Due: eslint --fix, prettier -w

feat: install @ngrx/store
  .eslintrc.json
  package.json
  pnpm-lock.yaml
  src/main.ts
Due: eslint --fix, prettier -w, sort-package-json

feat: implement TodoMVC using NgRx
  src/app/app.component.spec.ts
  src/app/app.component.ts
  src/app/components/footer.component.ts
  src/app/components/header.component.ts
  src/app/components/item.component.ts
  src/app/components/list.component.ts
  src/app/state/todo.feature.ts
  src/main.ts
Due: eslint --fix, prettier -w

ci(github): run unit test
  .github/workflows/ci.yml
Due: prettier -w

ci(renovate): customize the configuration
  renovate.json
Due: prettier -w

ci(mega-linter): enable MegaLinter
  .github/workflows/mega-linter.yml
  .gitignore
  .mega-linter.yml
Due: prettier -w

ci(mega-linter): install dependencies
  .github/workflows/mega-linter.yml
Due: prettier -w

style: remove comments
  .vscode/extensions.json
  .vscode/launch.json
  .vscode/tasks.json
  tsconfig.app.json
  tsconfig.json
  tsconfig.spec.json
Due: prettier -w

ci(mega-linter): commit message follows conventional format
  .github/workflows/mega-linter.yml
Due: prettier -w

ci(mega-linter): disable errors from Trivy
  .mega-linter.yml
Due: prettier -w

chore: add description and keywords meta
  src/index.html
Due: eslint --fix, prettier -w

ci(renovate): automerge using platform strategy
  renovate.json
Due: prettier -w

ci(kodiak): enable kodiak bot
  .kodiak.toml
Due: none

ci(github): add automerge label to renovate's PR
  .github/workflows/renovate-pr.yml
Due: prettier -w
